*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.font{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
header{
    background-color: #FFF8F3;
    background: url("../images/developer.png"), url("../images/header_bg.png") , #FFF8F3;
    background-position: top left,bottom right;
    background-repeat: no-repeat;
    padding-top: 50px;
}

nav{
    width: 71%;
    max-width: 1140px;
    /* border: 1px solid red; */
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    font-size: 45px;
    font-weight: bolder;
}
.logo-color{
    color: #FD6E0A;
}
nav .menu{
    display: flex;
    list-style: none;
    gap: 50px;
    align-items: center; 
}
nav .menu a{
    font-size: 20px;
    color: #474747;
    text-decoration: none;
}
    .btn{
        background-color: #FD6E0A;
        border: none;
        padding: 18px 35px;
        border-radius: 5px;
        font-size: 20px;
        font-weight: bold;
        color: white;
        cursor: pointer;
    }
    .banner{
        border: 1px solid red;
        margin: 46px 38px 0px 230px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .banner-content{
        max-width: 585px;
    }
    .banner-content h2 {
        font-size: 45px;
        font-weight: 600px;
        color: #474747;
        margin-bottom: 5px;
    }
    .banner-content h1 {
        font-size: 85px;
        font-weight: bold;
        color: #181818;
    }
    .banner-content p{
        font-size: 18px;
        color: #757575;
        line-height: 30px;
        margin-bottom: 30px;
    }
    .banner-image img{
        max-width: 584px;
        vertical-align: middle;
        
    }
    /* 2nd part */

    .about{
        padding-top: 130px;
    }
    .about-contant{
       width: 71%;
    max-width: 1140px;
    /* border: 1px solid red; */
    margin: 0px auto;
    text-align: center;
    background-color: #FFF8F3;
    padding: 131px 156px;
    }
    .contant-heading{
        max-width: 827px;
        text-align: center;
    }
    .contant-heading h2{
        font-size: 35px;
        font-weight: bold;
        margin-bottom: 30px;
    }
    .conrtant-heading p{
        font-size: 18px;
        margin-bottom: 30px;
        line-height: 30px;
        color: #757575;
    }
    .about-info{
        display: flex;
        justify-content: space-around;
        margin-top: 30px;
    }
    .info-card p {
        font-size: 20px;
        line-height: 30px;
        color: #757575;
    }
    .info-card h4{
        font-size: 20px;
        line-height: 30px;
    }
    /* 3rd part */
    #skills{
        padding-top: 130px;
    }
    .content-heading{
         max-width: 827px;
        text-align: center;
        margin: 0 auto;

    }
    .skills-content{
        width: 71%;
        max-width: 1140px;
        margin: 0 auto;
    }
    .skills-box{
        display: flex;
        /* justify-content: space-between; */
        gap: 24px;
    }
    .skill-card{
        padding: 30px;
        max-width: 267px;
        /* border: 1px solid red; */
        box-shadow: 0 6px 50px 0 #0000001a
    }
    .skill-card img{
        max-width: 44px;
        margin-bottom: 30px;
    }
    .skill-card h3{
        font-size: 20px;
        color: #181818;
        margin-bottom: 20px;
    }
    .skill-card p{
        font-size: 16px;
        color: #181818;
        line-height: 28px;
    }
